body {
  background-color: #d9edfd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

input {
  position: relative;
  top: 20px;
  margin-left: 15px;
  margin-bottom: 30px;
  border: 1px solid white;
  box-shadow: 3px 3px 3px gray;
  border-radius: 8px;
}
h1 {
  text-align: center;
  padding: 40px 10px;
  color: #177ed4;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 30px;
}

div {
  text-align: center;
}

h5 {
  font-size: 18px;
}

p {
  text-align: center;
  font-size: 24px;
  color: #177ed4;
  padding: 35px 20px 10px;
}

footer {
  text-align: center;
}

.searchBar {
  margin-top: 18px;
}

#currentLocationButton {
  display: inline-block;
  text-align: center;
  background-color: #177ed4;
  color: #d9edfd;
  font-size: 16px;
  padding: 8px 10px;
  margin-top: 35px;
  border: none;
  border-radius: 8px;
}

#fahrenheit {
  font-size: 16px;
  color: #177ed4;
  background: #d9edfd;
  border-radius: 40%;
  padding: 4px 8px;
  border: none;
}
#celsius {
  font-size: 16px;
  color: #177ed4;
  background: #d9edfd;
  border-radius: 40%;
  padding: 4px 8px;
  border: none;
}
#fahrenheit:hover {
  background-color: #177ed4;
  color: white;
}
#celsius:hover {
  background-color: #177ed4;
  color: white;
}

.weather_temp .current {
  color: grey;
  cursor: default;
}

.weather_temp .current:hover {
  text-decoration: none;
}

.weather_forecast {
  margin-top: 10px;
}

.row {
  text-align: center;
  color: #177ed4;
  margin: 0 auto;
  font-size: 14px;
}

.weather_forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather_forecast h4 {
  color: grey;
  font-size: 16px;
}

.forecast_temp {
  color: grey;
  font-weight: 400;
  height: auto;
  line-height: 15px;
}
